@import "bootstrap/scss/bootstrap.scss";

body {
    background: url('redcar.jpg') no-repeat center center fixed;
    background-size: cover;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #111;
}

.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  padding-right: 830px;
  padding-top: 80px;
  padding-left: 20px;
}

.about-container h1 {
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(255, 0, 0);
  outline: none;
  text-align: center;
}

.about-container h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

.about-container h2 {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: rgb(114, 22, 22);
  letter-spacing: .5px;
}

.about-container p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: rgb(114, 22, 22);
  letter-spacing: .5px;
}
